//- CONFIGS: change paths here
- let cssPath = './src/assets/css/';
- let fontsPath = './src/assets/fonts/';
- let jsPath = './src/assets/js/';

-
	let links = {

		//-  base 
		base: {
			all: cssPath + 'base/base.css',
			vars: cssPath + 'base/variables.css',
			helpers: cssPath + 'base/helper.css',
			animations: cssPath + 'base/animations.css',
		}, 

		//- layout
		layout: {
			all: cssPath + 'layout/layout.css',
			logo: cssPath + 'layout/logo.css',
			lead: cssPath + 'layout/lead.css',
			header: cssPath + 'layout/header.css',
		},

		//-  components
		components: {
			icons: cssPath + 'components/icons.css',
			buttons: cssPath + 'components/buttons.css',
			burger: cssPath + 'components/burger.css',
			modal: cssPath + 'components/modal.css',
		},

		//- generic
		generic: {
			style: cssPath + 'style.css',
			responsive: cssPath + 'responsive/responsive.css',
		},
	}

- 
	let scripts = {
		inputConnect: jsPath + 'inputConnect.js',
		slider: jsPath + 'slider.js',
		burger: jsPath + 'burger.js',
		cardFlip: jsPath + 'cardFlipTwitch.js',
		vue: './src/main.js',
	};


//-  base 
link(rel="stylesheet" href=links.base.all)
link(rel="stylesheet" href=links.base.vars)
link(rel="stylesheet" href=links.base.helpers)
link(rel="stylesheet" href=links.base.animation)

//-  layout 
link(rel="stylesheet" href=links.layout.all)
link(rel="stylesheet" href=links.layout.logo)
link(rel="stylesheet" href=links.layout.lead)
link(rel="stylesheet" href=links.layout.header)

//-  components 
link(rel="stylesheet" href=links.components.buttons)
link(rel="stylesheet" href=links.components.icons)
link(rel="stylesheet" href=links.components.modal)
link(rel="stylesheet" href=links.components.burger)

//-  generic 
link(rel="stylesheet" href=links.generic.style)
link(rel="stylesheet" href=links.generic.responsive)

//- SCRIPTS
script(type="module" src=scripts.vue)
script(type="module" src=scripts.inputConnect)
script(type="module" src=scripts.slider)
script(type="module" src=scripts.burger)
script(type="module" src=scripts.cardFlip)